<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>코로나 뉴스</title>
  <link rel="icon" href="../static/images/news.png">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <!-- 네비게이션 바 -->
  <div class="nav">
    <a href="./index.html">Home</a>
    <a class="active" href="./news.html">News</a>
    <a href="./status.html">Status</a>
  </div>

  <!-- 보도자료 -->
  <div class="container">
    <h2>
      <a href="https://www.kdca.go.kr/board/board.es?mid=a20501010000&bid=0015" class="link-changeColor" target="_blank">
        보도자료
      </a>
    </h2>
    <hr>
    <!-- iframe을 이용해 페이지 이동 없이 컨텐츠를 확인할 수 있도록 함 -->
    <iframe id='ifram' src="./news/index.html" style="display:block; width:80vw; height: 80vh;">
    </iframe>
  </div>
</body>
</html>