body {
  margin: 0 auto;
  background-color: #121212;
}

.container {
  margin: 0 auto;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.poster {
  max-height: 300px;
  overflow: scroll;
}
.poster img {
  width: 100%;
  max-height: initial;
  margin-top: -5%;
}

.nav {
  background-color: #3700b3;
  overflow: hidden;
}
.nav a {
  float: left;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.nav a:hover {
  background-color: #03dac6;
}
.active {
  background-color: #bb86fc;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  background-color: #cf6679;
  border-color: #b00020;
}

.high-color {
  color: #ffffff;
  opacity: 0.87;
}
.mednium-color {
  color: #ffffff;
  opacity: 0.6;
}
.low-color {
  color: #ffffff;
  opacity: 0.38;
}

.list-link a:hover {
  background-color: #ff7597;
}

.no-deco {
  color: #ffffff;
  text-decoration: none;
}

.gap-top {
  margin-top: 5rem;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

mark {
  background-color: #ff7597;
}
