body {
  --color0: #002233;
  --color1: #2a3d58;
  --color2: #57597c;
  --color3: #8a769e;
  --color4: #c093ba;
  --color5: #f8b3d2;
  margin: 0 auto;
  background-color: var(--color0);
}

.nav {
  background-color: var(--color2);
  overflow: hidden;
}
.nav a {
  float: left;
  color: var(--color5);
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
.nav a:hover {
  background-color: var(--color3);
  color: var(--color0);
}
.active {
  background-color: var(--color1);
}

.bg1 {
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  height: 100px;
  color: #ff0066;
}

.container {
  margin: 0 auto;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.gap-top {
  margin-top: 7rem;
}

.link-changeColor {
  color: var(--color5);
}
.link-changeColor:hover {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  0% {
    background-color: var(--color0);
    color: var(--color5);
  }
  50% {
    background-color: var(--color5);
    color: var(--color0);
  }
  100% {
    background-color: var(--color0);
    color: var(--color5);
  }
}

li {
  margin-top: 10px;
}

mark {
  color: white;
  font-weight: 700;
  background-color: var(--color4);
}

.further {
  color: var(--color4);
  margin-left: 5px;
}

.poster {
  max-height: 300px;
  overflow: hidden;
}
.poster img {
  width: 100%;
  max-height: initial;
}

.text-center {
  text-align: center;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  background-color: #cf6679;
  border-color: #b00020;
}

.high-color {
  color: #ffffff;
  opacity: 0.87;
}
.mednium-color {
  color: #ffffff;
  opacity: 0.6;
}
.low-color {
  color: #ffffff;
  opacity: 0.38;
}

.no-deco {
  color: #ffffff;
  text-decoration: none;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

.textCenter {
  text-align: center;
}
