<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="./index.html">뒤로</a>
  </div>

  <div class="container">
    <h2>
      <a href="http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=6138&contSeq=6138&board_id=312&gubun=BDJ" class="link-changeColor" target="_blank">
        코로나19 국내 발생 및 예방접종 현황(11.27.)
      </a>
    </h2>
    <hr>
    <p>
      코로나19 국내 발생 및 예방접종 현황(11.27.)<br><br>
      1. 코로나19 예방접종 현황<br><br>
      □ 코로나19 예방접종 대응 추진단(단장: 정은경 청장)은 11월 27일 0시 기준으로 1차 접종은 54,302명으로 총 42,475,901명이 1차 접종을 받았고, 이 중 84,823명이 기본접종을 완료하여 총 40,852,206명이 기본접종을 완료하였다고 밝혔다. 추가접종은 284,323명으로 총 2,762,420명이 추가접종을 받았다.<br><br>
    </p>
  </div>
</body>
</html>