<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="./index.html">뒤로</a>
  </div>

  <div class="container">
    <h2>
      <a href="http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=6140&contSeq=6140&board_id=312&gubun=BDJ" class="link-changeColor" target="_blank">
        코로나19 국내 발생 및 예방접종 현황(11.28., 0시 기준)
      </a>
    </h2>
    <hr>
    <p>
      코로나19 국내 발생 및 예방접종 현황(11.28., 0시 기준)<br><br>
      ◈ 백신 접종자 1차 32,431명, 기본접종완료 45,760명, 추가접종 70,433명<br><br>
      ◈ 재원중 위중증 환자 647명, 사망 56명<br><br>
      □ 코로나19 예방접종 대응 추진단(단장: 정은경 청장)은 11월 28일 0시 기준으로 1차 접종은 32,431명으로 총 42,510,125명이 1차 접종을 받았고, 이 중 45,760명이 기본접종을 완료하여 총 40,900,924명이 기본접종을 완료하였다고 밝혔다.<br><br>
      추가접종은 70,433명으로 총 2,842,146명이 추가접종을 받았다.<br><br>
    </p>
  </div>
</body>
</html>