<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="./index.html">뒤로</a>
  </div>

  <div class="container">
    <h2>
      <a href="http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=368622&contSeq=368622&board_id=140&gubun=BDJ" class="link-changeColor" target="_blank">
        코로나19 단계적 일상회복에 따른 의료 및 방역 후속 대응계획
      </a>
    </h2>
    <hr>
    <p>
      코로나19 단계적 일상회복에 따른 의료 및 방역 후속 대응계획<br><br>
      - 일상회복으로의 2차 개편은 유보하고 특별방역대책 4주간 실시, 재택치료 원칙으로 의료체계 전환 -<br><br>
      - 생활치료센터 2,000병상 및 2,734병상(중증 106, 준중증 365, 중등증 2,263) 추가 확보, 병상 설치 시 병상 간 이격거리 완화 등 병상 확충 및 효율화 -<br><br>
      - 오미크론 변이바이러스 국내유입 관리 강화, 18세 이상 성인 전체 추가접종 시행 및 방역패스 유효기간 설정을 통한 접종률 제고 -<br><br>
      - 국산 항체치료제 처방기관·대상자 확대 및 경구용 도입 등 코로나19 치료제 적극 활용 -<br><br>
      - 비상대응체계 가동, 60세 이상 고령층 추가접종 연내 마무리 달성 -<br><br>
      - 수도권 교육지원청별 ‘생활방역 지도점검단’ 운영 학교 주변 학생이용 시설 집중 관리, <br><br>
      접종기한 연장(’22.1.22.) 등 청소년 백신접종 지원 강화 -<br><br>
      □ 문재인 대통령은 오늘 14시부터 청와대 여민관에서 영상회의를 통해 ‘코로나19 대응 특별방역점검회의’를 주재하였다.<br><br>
      ○ 국무총리, 경제부총리, 사회부총리, 보건복지부장관, 행정안전부장관, 국무조정실장, 식품의약품안전처장, 질병관리청장과 함께 ▲단계적 일상회복 1단계 시행평가와 전망 ▲단계적 일상회복에 따른 의료 및 방역 후속 대응계획 ▲코로나19 예방접종 진행상황 및 접종률 제고방안 / 코로나19 치료제 도입 및 활용방안 ▲고령층 추가접종 이행상황 및 추진방안 ▲학교의 방역강화 및 청소년 백신 접종률 제고 방안 등을 논의하였다.<br><br>
      1. 단계적 일상회복 1단계 시행평가와 전망<br><br>
      □ 질병관리청(청장 정은경)은 단계적 일상회복 시행에 따른 1차 단계평가 결과를 보고하였다.<br><br>
      ○ 이번 평가는 단계적 일상회복 시작(11.1.~) 이후 4주가 경과함에 따라 시행된 첫 번째 단계 평가로 일상회복 다음 단계 이행 여부에 대한 의사결정을 지원하기 위한 것으로, 최근 급격히 악화되는 유행상황과 주요 위험요인에 대한 분석을 시행하였다.<br><br>
        ※ 단계적 일상회복 이행계획 발표(10.29.) 시 다음 단계로 전환 가능 시점은 4주+2주로 제시(운영 4주+ 평가 2주, 단 2주는 상황에 따라 조정 가능)<br><br>
      □  1차 단계 평가 결과 위험도는 전국 “매우 높음”, 수도권 “매우 높음”, 비수도권 “중간”으로 평가되었다.<br><br>
        ※ (평가 방법) 주요 지표(17개) 분석 결과, 위험요인, 추세와 전망을 고려하여 일상회복지원위원회 방역의료분과 검토의견을 종합하여 평가<br><br>
      ○ 최근 4주간 위험도는 매주 악화되었으며, 수도권은 2주 연속 “매우 높음”으로 평가되었다.<br><br>
      ○ 중환자실 등 의료대응 역량이 한계치에 임박하고 있고, 모든 선행지표가 가파르게 상승하는 상황을 고려할 때, 특별방역대응계획 시행을 검토할 필요가 있는 것으로 평가되었다.<br><br>
    </p>
  </div>
</body>
</html>