<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="./index.html">뒤로</a>
  </div>

  <div class="container">
    <h2>
      <a href="http://ncov.mohw.go.kr/tcmBoardView.do?brdId=3&brdGubun=31&dataGubun=&ncvContSeq=6143&contSeq=6143&board_id=312&gubun=BDJ" class="link-changeColor" target="_blank">
        11월 4주 위험도 평가 “매우 높음”(11.29.)
      </a>
    </h2>
    <hr>
    <p>
      11월 4주 위험도 평가 “매우 높음”(11.29.)<br><br>
      -  전국 위험도 전주 “높음”에서“매우 높음”으로 상향 평가 -<br><br>
      ◆ 코로나19 주간 위험도 평가<br><br>
      ○ 종합위험도 전국 매우 높음, 수도권 매우 높음, 비수도권 중간<br><br>
      ○ 전반적 방역지표 악화 양상, 특별방역점검 및 대책 추진<br><br>
      ◆ 코로나19 주간 발생 현황<br><br>
      ○ 최근 1주간 위중증 환자 및 사망자 발생 빠른 증가 지속<br><br>
      ○ 예방접종 유무에 따라 중증화율 및 치명률에 큰 차이, 미접종자 및 학령기 아동 접종과 60대 이상 추가접종 적극 당부<br><br>
      ◆ 미접종자 사전예약 추가 시행<br><br>
      ○ 11.29.(월) 20시부터 기본접종 미접종자 사전예약 다시 시작<br><br>
      ○ 코로나19 사전예약 누리집에서 예약일 기준 2주 후부터 접종일 선택 가능<br><br>
      ◆ 추가접종 집중 실시 위한 위탁의료기관 요일제 운영 해제(12.1.~)<br><br>
      ○ 사전예약 누리집을 통해 보다 다양한 요일로 접종일정 예약 가능<br><br>
      ○ 위탁의료기관은 11.29.(월)부터 예약정보 설정을 자체 변경할 수 있고, 12.1.(월) 접종분부터 요일 제한 없이 예약 가능일 설정 가능<br><br>
    </p>
  </div>
</body>
</html>