<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/style.css">
  <style>
    thead {
      border-bottom: 3px solid black;
    }
    tr {
      border-bottom: 1.1px solid black;
      height: 60px;
    }
    th, td {
      padding: 0;
      border: 0;
    }
    tbody tr:hover {
      background-color: lightgrey;
    }

    td a {
      margin-left: 10px;
      color: gray;
    }
  </style>
</head>
<body style="background-color: white;">
  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>2175</th>
        <td><a href="./2175.html">
          국내 코로나19 검사체계, 오미크론 변이 문제없이 진단 가능
        </a></td>
        <td class="text-center">2021-11-29<br>17:59</tdstyle=>
      </tr>
      <tr>
        <th>2174</th>
        <td><a href="./2174.html">
          11월 4주 위험도 평가 “매우 높음”(11.29.)
        </a></td>
        <td class="text-center">2021-11-29<br>17:57</td>
      </tr>
      <tr>
        <th>2173</th>
        <td><a href="./2173.html">
          코로나19 단계적 일상회복에 따른 의료 및 방역 후속 대응계획
        </a></td>
        <td class="text-center">2021-11-29<br>17:35</td>
      </tr>
      <tr>
        <th>2172</th>
        <td><a href="./2172.html">
          코로나19 국내 발생 및 예방접종 현황(11.29., 0시 기준)
        </a></td>
        <td class="text-center">2021-11-29<br>17:35</td>
      </tr>
      <tr>
        <th>2171</th>
        <td><a href="./2171.html">
          코로나19 국내 발생 및 예방접종 현황(11.28.)
        </a></td>
        <td class="text-center">2021-11-29<br>10:11</td>
      </tr>
      <tr>
        <th>2170</th>
        <td><a href="./2170.html">
          코로나19 국내 발생 및 예방접종 현황(11.28., 0시 기준)
        </a></td>
        <td class="text-center">2021-11-28<br>14:10</td>
      </tr>
      <tr>
        <th>2169</th>
        <td><a href="./2169.html">
          코로나19 오미크론 변이바이러스 국내 유입차단 위한 대응조치
        </a></td>
        <td class="text-center">2021-11-28<br>09:32</td>
      </tr>
      <tr>
        <th>2168</th>
        <td><a href="./2168.html">
          코로나19 국내 발생 및 예방접종 현황(11.27.)
        </a></td>
        <td class="text-center">2021-11-27<br>22:59</td>
      </tr>
      <tr>
        <th>2167</th>
        <td><a href="./2167.html">
          보건복지부 1차관, 노인요양시설 방역 현장점검(11.27)
        </a></td>
        <td class="text-center">2021-11-27<br>14:10</td>
      </tr>
      <tr>
        <th>2166</th>
        <td><a href="./2166.html">
          코로나19 국내 발생 및 예방접종 현황(11.27., 0시 기준)
        </a></td>
        <td class="text-center">2021-11-27<br>09:30</td>
      </tr>
    </tbody>
  </table>
</html>